<div class="header" style="background-image: url('<%= cl_image_path("kitchen_header")%>');">
  <div class="banner-content">
   <% kitchen = @kitchen %>
   <h1><%= kitchen.title %></h1>
   <%= link_to "Book now!", new_kitchen_booking_path(kitchen), {class: "btn btn-primary btn-lg btn-orange"} %>
 </div>
</div>

<div class="card-wrapper">
  <div class="back-to-kitchen">
    <%= link_to raw('<i class="fa fa-chevron-left"></i> Back to kitchen'), kitchen_path(@kitchen) %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="booking-wrapper">
          <h2>Booking details:</h2>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td><strong><i class="fa fa-calendar"></i> Duration:</strong></td>
                <td> <%= booking.start_date %> until <br> <%= booking.end_date %> </td>
              </tr>
              <tr>
                <td><strong><i class="fa fa-tag"></i> Status:</strong></td>
                <td> <%= booking.status %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="booking-wrapper">
          <div class="new-card">
          <%= link_to raw('<i class="fa fa-plus-circle new-card-element" aria-hidden="true"></i>'), new_kitchen_booking_path(kitchen) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
