<div class="header" style="background-image: url('<%= cl_image_path("kitchen_header")%>');">
  <div class="banner-content">
   <% kitchen = @kitchen %>
   <h1><%= kitchen.title %></h1>
 </div>
</div>

<div class="card-wrapper">
  <%= link_to raw('<i class="fa fa-chevron-left"></i> Back to kitchen bookings'), kitchen_bookings_path(@kitchen) %>
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <div class="booking-wrapper">
        <h2>Please enter your dates:</h2>
        <%= simple_form_for([ @kitchen, @booking ]) do |form| %>
        <%= form.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
        <%= form.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
        <%= form.input :status, as: :hidden, :input_html => { :value => 'Pending' } %>
        <%= form.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

