<div class="col-xs-8 col-xs-offset-2">
  <h3><%= "Thank you for your review!" %></h3>

  <%= simple_form_for [ @booking.kitchen, @review ] do |f| %>
  <%= f.input :title %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <%= f.input :booking_id, as: :hidden, input_html: { value: @booking.id } %>
  <%= f.button :submit %>
  <% end %>
</div>
