<div class="container-fluid">
  <div class="panel-container">

    <div class="booking-header">
      <div class="booking-header-text">
        <h2><%= "Hi " + @user.first_name %>,</h2>
        <h2><%= "Your bookings:" %></h2>
      </div>
      <div class="booking-header-avatar">
        <%= image_tag "Logo-green.png", {class: "panel-logo"} %>
      </div>
      <div class="booking-offer">
        <%= link_to "Plan your next kitchen adventure", kitchens_path, {class: "btn btn-primary btn-lg btn-orange"} %>

      </div>
    </div>

    <div class="booking-body">
      <div class="panel-wrapper">
        <div class="row">
          <% @bookings.each do |booking| %>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

            <div class="panel">
              <div class="panel-pictures">

                <% if booking.kitchen.photo? %>
                <div class="panel-background" style="background-image: linear-gradient( 45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('<%= cl_image_path booking.kitchen.photo.path, height: 300, width: 400, crop: :fill %>')">
                </div>
                <% else %>
                <div class="panel-background" style="background-image: linear-gradient( 45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('<%= cl_image_path('random_kitchen', height: 300, width: 400, crop: :fill) %>')">
                </div>
                <% end %>
                <div class="text-center">
                  <img class="panel-user panel-img-center" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                </div>
              </div>

              <div class="panel-description">
                <h2><%= booking.kitchen.title %></h2>
                <p><%= booking.start_date %>- <%= booking.end_date %></p>
              </div>

              <div class="panel-review">
                <div class="panel-center">

                 <p><%= link_to "Add a review",  kitchen_booking_path(booking.kitchen, booking) %></p>
                 <p><%= link_to "Add another booking", kitchen_path(booking.kitchen) %></p>

               </div>
             </div>

           </div>
         </div>
         <% end %>

       </div>
     </div>
   </div>
 </div>
</div>

