<!-- for diagnosis -->
<%= @kitchen %>

<!-- use skelleton below to extract kitchen information into final design... -->

<% kitchen = @kitchen %>
<div class="kitchen">
  <h3> <%= kitchen.title %> </h3>
    <p>Kitchen owned by: <%= kitchen.user_id %>
    </p>
    <p>Kitchen located at: <%= kitchen.address %>
    </p>
    <p>Kitchen description: <%= kitchen.description %>
    </p>
    <p> Kitchen booked by :
      <%
=begin %><% kitchen.bookings.each do |booking| %>
        <%= booking.user_id %>
        from
        <%= booking.start_date %>
        to
        <%= booking.end_date %>
      <% end %>
    </p>

    <%= link_to "Book now", new_kitchen_booking_path(kitchen)  %>
    <%
=end %>
</div>
