<% if @kitchen.photo? %>
<div class="header" style="background-image: linear-gradient( 45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('<%= cl_image_path @kitchen.photo.path, crop: :fill %>');">
  <div class="banner-content">
   <% kitchen = @kitchen %>
   <h1> <%= kitchen.title %> </h1>
   <%= link_to "Check availability", kitchen_bookings_path(kitchen), {class: "btn btn-primary btn-lg btn-orange"} %>
 </div>
 <% else %>
 <div class="header" style="background-image: linear-gradient( 45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('<%= cl_image_path("kitchen_header")%>');">
  <div class="banner-content">
   <% kitchen = @kitchen %>
   <h1> <%= kitchen.title %> </h1>
 </div>
 <% end %>
</div>



</div>
<div class="container-fluid">
  <div class="description-wrapper">
    <div class="left-wrapper">
      <div class="overview">
      <%= link_to raw('<i class="fa fa-chevron-left"></i> Back to kitchen overview'), kitchens_path %>
      </div>
      <div class="review-header">
       <h2>Reviews for this kitchen</h2>
      </div>
        <% @kitchen.reviews.reverse.each do |review| %>
        <div class="review">
          <div class="review-name">
          <p><% review.rating.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
            <% end %></p>
          </div>
          <div class="review-body">
            <h3><%= review.title %></h3>
            <div class="review-subbody">
             <p><%= review.comment %></p>
            </div>
          </div>
        </div>
      <% end %>
   </div>

   <div class="right-wrapper">
    <div>
      <h2>Kitchen details:</h2>
      <% kitchen = @kitchen %>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td><strong> Kitchen owned by:</strong></td>
            <td> <%= kitchen.user_id %></td>
          </tr>
          <tr>
            <td><strong> Kitchen located at:</strong></td>
            <td> <%= kitchen.address %></td>
          </tr>
          <tr>
            <td><strong> Kitchen description:</strong></td>
            <td> <%= kitchen.description %></td>
          </tr>
        </table>
      </div>

        <h2>Please enter your booking dates:</h2>
        <%= simple_form_for([ @kitchen, @booking ]) do |form| %>
        <div id="sandbox-container">
          <div class="input-group input-daterange">
            <%= form.input :start_date, as: :string, input_html: { class: 'dates_booked' } %>
            <div class="input-group-addon datepickertoinvisible"></div>
            <%= form.input :end_date, as: :string, input_html: { class: 'dates_booked' } %>
          </div>
        </div>
        <%= form.input :status, as: :hidden, :input_html => { :value => 'Pending' } %>
        <br>
        <%= form.button :submit %>
        <% end %>


    </div>
  </div>

</div>
</div>

<%= simple_form_for(@kitchen) do |f| %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.submit "Add photo", class: "btn btn-primary" %>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.dates_booked').datepicker({
      format: "dd/mm/yyyy",
      datesDisabled: <%= @dates_booked  %>
    });

    $('#sandbox-container .input-daterange').datepicker({
      format: "dd/mm/yyyy",
      datesDisabled: <%= @dates_booked  %>
    });

  <% end %>
<% end %>

