<!-- for diagnosis -->
<!-- use skelleton below to extract kitchen information into final design... -->

<div class="header" style="background-image: url('<%= cl_image_path("kitchen_header")%>');">
  <div class="banner-content">
   <% kitchen = @kitchen %>
   <h1><%= kitchen.user_id %>Kitchen!</h1>
   <%= link_to "Book now!", kitchen_bookings_path(kitchen), {class: "btn btn-primary btn-lg btn-orange"} %>
 </div>

</div>
<div class="container-fluid">
  <div class="description-wrapper">


    <%= link_to "Overview", kitchens_path %>

    <div class="left-wrapper">
     <h2>Reviews for this kitchen</h2>
     <%= link_to "Add Review", new_kitchen_review_path(@kitchen), class: "btn btn-primary" %>
     <div class="review">
     <% @kitchen.reviews.each do |review| %>
       <div class="review-name">
         <h3><%= review.title %></h3>
         <p><%= review.rating %></p>
       </div>
       <div class="review-body">
         <h4><%= review.subtitle %></h4>
         <p><%= review.comment %></p>
       </div>
       <%= link_to "Delete", kitchen_review_path(@kitchen), method: :delete %>
       <%= link_to " - Edit", edit_kitchen_review_path(@kitchen) %>
       <% end %>
     </div>
   </div>

   <div class="right-wrapper">
    <h2>Kitchen details:</h2>
    <% kitchen = @kitchen %>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td><strong> Kitchen owned by:</strong></td>
          <td> <%= kitchen.user_id %></td>
        </tr>
        <tr>
          <td><strong> Kitchen located at:</strong></td>
          <td> <%= kitchen.address %></td>
        </tr>
        <tr>
          <td><strong> Kitchen description:</strong></td>
          <td> <%= kitchen.description %></td>
        </tr>
      </table>
    </div>
  </div>

</div>
</div>
